@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 55px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

/* Header Section */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e3e6f3;
  padding: 40px 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 100;
}

.branding {
  display: flex;
  align-items: center;
}

.branding img {
  width: 6%;
}

#header nav ul {
  display: flex;
}

#header nav ul li {
  margin-right: 3rem;
  position: relative;
}

#header nav ul li a {
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s ease;
}

#header nav ul li a:hover,
#header nav ul li a.active {
  color: #943126;
}

#header nav ul li a.active,
#header nav ul li a:hover {
  border-bottom: 2px solid #943126;
}

/* Hero Section */
#hero {
  background: #e3e6f3;
  height: 100vh;
  padding: 0 180px;
  display: flex;
  align-items: center;
  justify-content: start;
}

#hero img {
  width: 385px;
  margin-left: 10rem;
  margin-top: 3rem;
  border-bottom-left-radius: 1rem;
}

#hero .content h4 {
  padding-bottom: 20px;
}

#hero .content h2 {
  color: #943126;
  margin-bottom: 1rem;
  margin-top: 0.7rem;
}

 button {
  background: #943126;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  font-family: inherit;
  border: none;
  border-radius: 2rem;
  margin-top: 2.7rem;
  cursor: pointer;
}

#features{
  height: 70vh;
  padding: 40px 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features img{
  width: 40%;
  padding: 1rem 0;
  margin-top: 2rem;
}

#features .fe-box{
  width:315px;
  height: 360px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 12px 15px;
  border-radius: 10px;
  margin: 15px 0;
}

#features .fe-box:hover{
  background-color: #e3e6f3;
}

#features .fe-box:hover,#features h4{
  margin: 1rem 0;
  color: #943126;
}

#features .fe-box h4:nth-child(3){
  background: #943126;
  color: #fff;
  padding: 4px;
}

#products{
  padding: 40px 60px;
  text-align: center;
}

#products h2{
  color: #222;
}

#products .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#products .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #943126;
  border-radius: 5px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  cursor: pointer;
  transition: .3s all ease;
  position: relative;
}

#products .pro:hover{
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
}

#products .pro img{
  width: 80%;
  border-radius: 10px;
}

#products .pro .desc{
  text-align: start;
  padding: 10px 0;
}

#products .pro .desc span{
  color: #606063;
  font-size: 12px;
}

#products .pro .desc h5{
  font-size: 14px;
  padding-top: 7px;
  color: #1a1a1a;
}

#products .pro .desc .star{
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#products .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  background: #943126;
  position: absolute;
  bottom: 25px;
  right: 14px;
}


#banner{
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size:  cover;
  background-image: url('./assets/bannerboximg.png');
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner h4 h2{
  max-width: 480px;
}

#sm-banner{
  display: flex;
  justify-content:center;

}

#sm-banner .banner-box{
  margin: 40px 30px;
  padding: 3rem;
  width: 580px;
  height: 60vh;
  background-position: center;
  background-size:  cover;
  background-repeat: no-repeat;
  background-image: url('./assets/bannerBG.jpg');
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#sm-banner .banner-box:nth-child(1) h4, h2, span{
  color: #fff;
}

#sm-banner .banner-box:nth-child(2) h4{
  color: #fff;
}

#sm-banner .banner-box:nth-child(2){
  background-image: url('./assets/bannerboximg.jpg');

}

#sm-banner button{
  margin-top: 15px;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid #AC17E9;
  color: #943126;
  background: transparent;
  transition: .3s ease-in;
}

#sm-banner button:hover{
  background: #AC17E9;
  color: #fff;
  border: 0;
}

#xd-banner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#xd-banner .banner-box{
  margin: 40px 30px;
  width: 400px;
  height: 40vh;
  background-position: center;
  background-size:  cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#xd-banner .banner-box h2{
  color: #000;
} 

#xd-banner .banner-box:nth-child(1){
  background-image: url('./assets/bannerBG.png');
}

#xd-banner .banner-box:nth-child(2){
  background-image: url('./assets/bannerboximg-6.png');
}
#xd-banner .banner-box:nth-child(3){
  background-image: url('./assets/bannerboximg-5.png');
  background-position: center;
}